@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Jomhuria&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@300;400;500;600;700;800&family=Shantell+Sans:ital,wght@1,600&family=Tilt+Neon&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(243.75deg 32% 9.8%);
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 600px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.circle-1,
.circle-2 {
  background: linear-gradient(to right, #a23ab5, #e8e8e8);
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}
.container .circle-2 {
  bottom: 0;
  right: 0;
}
.card {
  width: 375px;
  height: 225px;
  box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(20, 20, 20, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  color: white;
  padding: 20px;
}
.card .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .logo p {
  padding-left: 10px;
  flex: 1;
  font-size: 18px;
}
.card .logo img {
  width: 50px;
}
.card .card-number {
  margin-top: 40px;
}
h5 {
  font-weight: 300;
}
.card .card-number p {
  font-size: 25px;
}
.card .bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
}